/* Start global rules : */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

:root {}

body {
    font-family: "Cairo", sans-serif;
    /* font-family: "Work Sans", sans-serif;*/
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* End global rules  */

.parent {
    background-color: #eee;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #ececec; */
}

img {
    /* padding-left: 15px;
    padding-right: 15px; */
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* background-color: var(--main-color); */
}


/* Start media query  */

@media (min-width: 768px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End media query  */


/* Start Style Main title */