/* Start global rules : */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #4f91ed;
    --main-color-alt: #125bc2bd;
    --hover-main-color: #c5c9cf23;
    --icon-color-hover: #accef577;
    --main-transition: 0.3s;
    --main-padding-top: 70px;
    --main-padding-bottom: 70px;
    --second-section-background-color: #d2d7d831;
    --main-section-background-color: white;
    --footer-background-color: rgba(46, 69, 92, 0.486);
    --paragraph-text-color: #555;
    --main-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.048), 0 2px 4px 0 rgb(0 0 0/12%);
}

body {
    font-family: "Cairo", sans-serif;
    /* font-family: "Work Sans", sans-serif;*/
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* End global rules  */

.parent {
    background-color: #eee;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #ececec; */
}

img {
    /* padding-left: 15px;
    padding-right: 15px; */
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* background-color: var(--main-color); */
}


/* Start media query  */

@media (min-width: 768px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End media query  */


/* Start Style Main title */

.main-title {
    margin: 0 auto 80px;
    border: 2px solid #e1dcdc;
    padding: 5px 10px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title::after,
.main-title::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::after {
    right: -30px;
}

.main-title::before {
    left: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.3s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.3s linear forwards;
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.2s;
}


/* End Style Main title */


/* Start header */

.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px#ddd;
    -moz-box-shadow: 0 0 10px#ddd;
    box-shadow: 0 0 10px#ddd;
}

.header .container {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    color: var(--main-color);
    font-size: 40px;
    font-weight: bold;
    /*  height: 72px; للحفاظ على ارتفاع الهيدر حتى لو اختلف حجم المين  */
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* start responsive media for logo selector : */

@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}


/*end responsive media for logo selector : */

.header .main_nav {
    display: flex;
}


/* start responsive media for main_nav selector : */

.header .main_nav>li>a {
    height: 80px;
    letter-spacing: 2px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    padding: 0px 25px;
    transition: var(--main-transition);
    overflow: hidden;
}

.header .main_nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0px;
    left: -100%;
    transition: var(--main-transition);
}

.header .main_nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .main_nav>li>a.partner_with_us:hover {
    color: white;
    background-color: var(--main-color);
    font-size: 21px;
    font-weight: bold;
}

.header .main_nav>li>a:hover::before {
    left: 0;
}


/* start responsive media for li > a selector : */

@media (max-width: 767px) {
    .header .main_nav>li>a {
        padding: 10px;
        height: 40px;
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .header .main_nav {
        flex-direction: column;
        gap: 0;
        padding: 5px;
        margin: auto;
    }
}


/* 
.check-btn {
    font-size: 30px;
    color: var(--main-color);
    cursor: pointer;
    display: none;
} */

@media (max-width: 767px) {
    /* .check-btn {
        display: block;
        position: absolute;
        margin-right: 20px;
    } */
    /* .header .main_nav {
        display: none;
    } */
    .header .container {
        display: flex;
        margin-right: 0;
        padding: 5px;
        justify-content: end;
    }
}


/* @media (max-width:360px) {
    .check-btn {
        position: relative;
        margin-top: -50px;
    }
} */


/* End header */


/* Start Landing */

.landing {
    position: relative;
    background-color: var(--second-section-background-color);
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 75px;
}

.landing .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 37px;
    margin: 0;
    letter-spacing: 0px;
}


/*start response mobile screen size */

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}


/*end response mobile screen size */

.landing .text p {
    font-size: 22px;
    margin: 5px 0 0;
    line-height: 1.7;
    color: #666;
    max-width: 500px;
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}


/*start response mobile screen size */

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}


/*end response mobile screen size */

.landing .image img {
    position: relative;
    width: 400px;
    /* وحطينا زمن 5 ثواني يروح ويرجع up-and-down الانيميشن هون سميتو ع كيفي  */
    /* الانيميشن بعتمد عالبوزشن لازم يكون ريليتف */
    /* بننزل بننشئ الانيميشن تحت بنفس هاد الاسم  */
    animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}

.landing .go_down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .go_down:hover {
    color: var(--main-color-alt);
}

.landing .go_down i {
    animation: bouncing 1.5s infinite;
}


/* End landing */


/* Start service */

.service {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--main-section-background-color);
}

.service .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.service h3 {
    color: var(--paragraph-text-color);
    display: block;
    padding-bottom: 30px;
    max-width: 100%;
    text-align: center;
    margin: auto;
}

.service .box {
    text-align: center;
    border: 1px solid #ccc;
}

.service .container .img-holder {
    position: relative;
    overflow: hidden;
}

.service .container .img-holder::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: #b657e257; */
}

.service .container .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.service .container .img-holder img {
    max-width: 100%;
    padding: 5px;
}

.service .box:hover .img-holder::after {
    border-width: 0 465px 0 0;
}

.service .box h2 {
    position: relative;
    font-size: 25px;
    margin: 15px auto;
    width: fit-content;
}

.service .box h2::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
    /* background-color: red; */
}

.service .box p {
    line-height: 2;
    font-size: 20px;
    color: var(--paragraph-color);
    margin: 15px 15px;
    padding: 0;
}

.service .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 6px;
    transition: var(--main-transition);
}

.service .box:hover a {
    background-position: left bottom;
    color: rgb(39, 37, 37);
}


/*اللي فوق الصورة overlayهاد الجزء الخاص بال    */

.service .comprehensive .img-holder::before {
    background-color: #aacacb75;
}


/* comprehensive  /guidance /regulatory هاد لون الباك جراوند اللي تحت الهيدر تبع القسم يعني تحت كلمة  */

.service .comprehensive h2::after {
    background-color: #aacacb75;
}

.service .comprehensive a {
    color: #aacacb;
    border-color: #aacacb;
    background: linear-gradient(to right, #aacacb75 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}


/* ---------------------------------- */

.service .regulatory .img-holder::before {
    background-color: #e0ad1f41;
}

.service .regulatory h2::after {
    background-color: #e0ad1f41;
}

.service .regulatory a {
    color: #503f10;
    border-color: #6e6039;
    background: linear-gradient(to right, #e0ad1f41 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}


/* ---------------------------------- */

.service .guidance .img-holder::before {
    background-color: #b7cc8c71;
}

.service .guidance h2::after {
    background-color: #b7cc8c71;
}

.service .guidance a {
    color: #b7cc8c;
    border-color: #b7cc8c;
    background: linear-gradient(to right, #b7cc8c71 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}


/* End service */


/* Start About us Section */

.about-us {
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--second-section-background-color);
}

.about-us .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.about-us .container .box {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(450px, 0fr));
    gap: 10px;
    padding: 5px;
    max-width: fit-content;
    background-color: transparent;
    border-radius: 6px;
    box-shadow: 0 12px 20px 0 rgb(0 0 0/13%), 0 2px 4px 0 rgb(0 0 0/12%);
}

.about-us .container .box img {
    max-width: 60%;
    transition: var(--main-transition);
    border-radius: 6px;
}

@media (max-width: 767px) {
    .about-us .container .box img {
        max-width: 60%;
        transition: var(--main-transition);
        border-radius: 6px;
        margin-left: 40px;
    }
}

.about-us .container .box img:hover {
    transform: rotate(2deg) scale(1);
    transition-duration: 1s;
}

.about-us .container h3 {
    color: var(--paragraph-text-color);
    display: block;
    padding-bottom: 30px;
    max-width: 100%;
    text-align: center;
    margin: auto;
}


/* End About us Section */


/* Start Our value Section */

.our-value {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background-color);
}

.our-value .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .our-value .container {
        flex-direction: column;
    }
}

.our-value .container .image {
    max-width: 100%;
    margin-right: 70px;
}

@media (max-width: 991px) {
    .our-value .image {
        margin: 0 0 50px;
    }
}

@media (max-width: 767px) {
    .our-value .container .image {
        display: none;
    }
}

.our-value .info .box {
    background-color: #8d9cb138;
    padding: 20px 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: 3px solid white;
    position: relative;
    z-index: 1;
}

@media (max-width: 991px) {
    .our-value .info .box {
        flex-direction: column;
        text-align: center;
    }
}

.our-value .info .box::before {
    content: "";
    position: absolute;
    background-color: rgba(131, 181, 209, 0.26);
    left: 50%;
    top: 50%;
    height: 0;
    width: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: var(--main-transition);
}

.our-value .info .box:hover:before {
    height: 100%;
    width: 100%;
}

.our-value .info .box img {
    width: 120px;
    margin-left: 0;
    padding: 5px;
    border-radius: 15px;
}

@media (max-width: 991px) {
    .our-value .info .box img {
        margin: 0 0 30px;
    }
}

.our-value .container .info .box .text {
    padding: 0px 5px 0px 15px;
}

.our-value .container .info .box h3 {
    font-size: 20px;
    padding-bottom: 5px;
    margin: 0;
}

.our-value .container .info .box p {
    line-height: 1.7;
    color: var(--paragraph-color);
    margin: 10px 0 0;
    font-size: 18px;
}


/* End Our value Section */


/* Start Footer  */

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--footer-background-color);
    position: relative;
    color: white;
    text-align: center;
}

.footer .container img {
    width: 200px;
}

.footer .footer-links {
    max-width: 100%;
    padding-top: 15px;
    display: flex;
    margin: 40px 0 20px;
    gap: 25px;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media (max-width: 767px) {
    .footer .footer-links {
        padding-top: 10px;
        display: grid;
        margin: 30px 0 20px;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
}

.footer .footer-links a {
    display: block;
    font-size: 13px;
    letter-spacing: 4px;
    color: #0c4597c2;
    text-shadow: 0px 1px 7px white;
    border-bottom: 3px solid rgba(58, 79, 148, 0.918);
    border-radius: 6px;
    padding: 10px;
}

.footer .footer-links a:hover {
    font-weight: bolder;
    color: white;
    border: none;
    background-color: rgba(78, 107, 134, 0.37);
    box-shadow: var(--main-box-shadow);
    transition: var(--main-transition);
}

.footer .container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.footer .copyright {
    margin-top: 60px;
    padding: 20px;
}

.footer .copyright span {
    font-weight: bold;
    font-size: 20px;
    color: var(--main-color-alt);
}


/* End Footer  */


/* Start Create Animation  */

@keyframes up-and-down {
    0%,
    100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}


/* Start Create Animation  */

@keyframes up-and-down {
    0%,
    100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}


/* End Create Animation */