/* Start global rules : */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #b657e2;
    --main-color-alt: #ae7fec;
    --icon-color-hover: #9997b9;
    --main-transition: 0.3s;
    --section1-background-color: #f6f6f6;
    --paragraph-text-color: #555;
    --main-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.048), 0 2px 4px 0 rgb(0 0 0/12%);
}

body {
    font-family: "Cairo", sans-serif;
    /* font-family: "Work Sans", sans-serif;*/
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* End global rules  */

.parent {
    background-color: #eee;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #ececec; */
}

img {
    /* padding-left: 15px;
    padding-right: 15px; */
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* background-color: var(--main-color); */
}


/* Start media query  */

@media (min-width: 768px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End media query  */


/* Start Style Main title */

.main-title {
    margin: 0;
    border: 1px solid black;
    padding: 5px 3px;
    font-size: 17px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title:hover {
    color: rgb(143, 43, 43);
    border: 2px solid rgb(16, 194, 46);
    background-color: #9997b9;
}


/* End Style Main title */