/* Start Variables */


/* End Variables */


/* Start global rules : */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-tra
}

body {
    font-family: "Cairo", sans-serif;
    /* font-family: "Work Sans", sans-serif;*/
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* End global rules  */

.parent {
    background-color: #eee;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #aaa;
}


/* media query  */

@media (min-width: 768px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* Start Header */

.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px#ddd;
    -moz-box-shadow: 0 0 10px#ddd;
    box-shadow: 0 0 10px#ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    /*  height: 72px; للحفاظ على ارتفاع الهيدر حتى لو اختلف حجم المين  */
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .main_nav {
    display: flex;
}

.header .main_nav>li>a {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    padding: 0px 30px;
    transition: 0.3s;
}


/* End Header */